#s1{
    background-color: rgb(240, 144, 80);
}
*{
    border-radius: 5px;
    text-align: center;
    color:rgb(206, 15, 15);
}
td{
    background-color: rgb(104, 186, 237);
}
#s2{
    background-color: rgb(91, 73, 207);
}
#s3{
    background-color: rgb(179, 110, 215);
}